[bumpversion]
current_version = 2022.4.4
commit = True
tag = True

[bumpversion:file:repo_helper.yml]

[bumpversion:file:README.rst]

[bumpversion:file:repo_helper/__init__.py]
search = : str = "{current_version}"
replace = : str = "{new_version}"

[bumpversion:file:doc-source/index.rst]

[bumpversion:file:tests/test_cli/test_builder_/test_write_wheel]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:.github/workflows/conda_ci.yml]
search = ={current_version}=py_1
replace = ={new_version}=py_1
