include __pkginfo__.py
include LICENSE
include requirements.txt
prune **/__pycache__
include repo_helper/testing/repo_helper_example.yml
recursive-include repo_helper/templates *
recursive-include repo_helper/blocks *.rst
recursive-include repo_helper/init_repo_files *
include repo_helper/files/isort.cfg
include repo_helper/repo_helper_schema.json
recursive-include repo_helper *.pyi
include repo_helper/py.typed
