bump2version==1.0.0
click==7.1.2
configupdater==1.1.3
cssutils==1.0.2
domdf-python-tools>=0.7.2
dulwich==0.19.16
email_validator==1.1.1
importlib_resources>=3.0.0
jinja2>=2.11.2
packaging>=20.4
pre-commit
pyyaml>=5.3.1
requests
requirements-parser>=0.2.0
tox<=3.18.1
trove_classifiers>=2020.5.21
typing_extensions
typing_inspect
ytools3
tomlkit
tox-battery
tox-envlist
