apeye>=0.4.0
attrs>=20.2.0
click==7.1.2
configconfig>=0.4.0
consolekit>=0.5.0
css-parser==1.0.6
domdf-python-tools>=1.8.0
dulwich>=0.19.16
email-validator==1.1.2
isort>=5.0.0
jinja2>=2.11.2
natsort>=7.1.0
packaging>=20.4
pre-commit>=2.7.1
requests>=2.25.0
ruamel-yaml>=0.16.12
shippinglabel>=0.7.0
southwark>=0.6.0
tomlkit>=0.7.0
typing-extensions>=3.7.4.3
yapf-isort>=0.5.2
