coverage>=5.1
coverage-pyver-pragma>=0.0.6
domdf-python-tools[testing]>=1.5.0
iniconfig!=1.1.0,>=1.0.1
lorem>=0.1.1
pytest>=6.0.0
pytest-cov>=2.8.1
pytest-randomly>=3.3.1
pytest-regressions>=2.0.1
pytest-timeout>=1.4.2
readme-renderer>=26.0
