backports-entry-points-selectable>=1.0.2
betamax>=0.8.1
check-wheel-contents>=0.2.0
coincidence>=0.2.0
coverage>=5.1
coverage-pyver-pragma>=0.2.1
domdf-python-tools[testing]>=2.0.1
importlib-metadata>=3.6.0
iniconfig!=1.1.0,>=1.0.1
lorem>=0.1.1
pre-commit>=2.7.1
pytest>=6.2.0
pytest-cov>=2.8.1
pytest-randomly>=3.7.0
pytest-regressions>=2.0.1
pytest-rerunfailures>=9.1.1
pytest-timeout>=1.4.2
readme-renderer>=26.0
