li p:last-child {
	margin-bottom: 12px;
}

html {
	scroll-behavior: smooth;
}

dl.class {
	padding: 3px 3px 3px 5px;
	margin-bottom: 17px !important;
	border-style: solid;
	margin-top: 7px !important;
	border-color: rgba(240, 128, 128, 0.5);
}

dl.function {
	padding: 3px 3px 3px 5px;
	margin-bottom: 17px !important;
	border-style: solid;
	margin-top: 7px !important;
	border-color: lightskyblue;
}

dl.function dt {
	margin-bottom: 10px !important;
}

dl.attribute {
	padding: 3px 3px 3px 5px;
	margin-bottom: 17px !important;
	border-style: solid;
	border-color: rgba(119, 136, 153, 0.5);
}

dl.method {
	padding: 3px 3px 3px 5px;
	margin-bottom: 17px !important;
	border-style: solid;
	border-color: rgba(32, 178, 170, 0.5);
}

div.sphinxsidebar {
	font-size: 14px;
	line-height: 1.5;
}

div.sphinxsidebar h3 {
	font-weight: bold;
}

div.sphinxsidebar p.caption {
	font-size: 20px;
}

div.sphinxsidebar div.sphinxsidebarwrapper {
	padding-right: 20px !important;
}

table.longtable {
	margin-bottom: 20px !important;
	margin-top: -15px !important;
}

div.document {
	width: 100%;
	max-width: 1400px;
}

div.body {
	max-width: 1100px;
}

div.body p, ol > li, div.body td {
	hyphens: None;
}

img, div.figure {
	margin: 0 !important;
}

ul > li {
	text-align: justify;
}

ul > li > p {
	margin-bottom: 0;
}

ol > li > p {
	margin-bottom: 0;
}

div.body code.descclassname {
	display: None;
}

.wy-table-responsive table td {
	white-space: normal !important;
}

.wy-table-responsive {
	overflow: visible !important;
}

div.toctree-wrapper.compound > ul > li {
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 870px) {
	div.sphinxsidebar {
		width: 250px;
	}

}
